// 颜色定义规范
$color-background-white = #fff
$color-background-pink = #D8316C
$color-background-black = #070E13
$color-background-gray = #B5B8BB

$color-text-white = #ffffff
$color-text-pink = #D8316C
$color-text-black = #272B2C
$color-text-gray = #B5B8BB

// 字体定义规范
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-x = 17px
$font-size-large = 24px
$font-size-large-x = 28px
